<th:block th:fragment="header">
  <div class="header container" style="height: 124px;">
    <div class="logo-header col-3">
      <img src="/homepage/assets/img/header_logo.svg">
    </div>
    <div class="center-header col-7">
      <div class="row h-100">
        <a href="/login" class="center-header-button">
          <button class="btn btn-primary">
            <i class="fas fa-arrow-alt-circle-right"></i>
            Đăng nhập
          </button>
        </a>
      </div>
      <div class="row h-100">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item active">
                <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Giới thiệu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Quy Trình</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Thắc mắc</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Liên hệ</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
    <div class="name-header col-2">
      <div>
        <img src="/homepage/assets/img/header_logo1.svg">
      </div>
      <div class="align-content-center">
        <span class="row">Tổng đài đặt lịch khám</span>
        <span class="row">1900 - 2125</span>
      </div>
    </div>
  </div>
</th:block>